body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: red;
  }

  main {
    flex: 1 0 auto;
  }

.recMessage {
  background-color: grey;
  color: white;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sentMessage {
  background-color: green;
  color: white;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
